<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vishal.monitor">

    <application
        android:name=".lp_doctor.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="Receiver">
            <intent-filter>
                <action android:name="com.vishal.reporter"></action>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".lp_doctor.ui.AppListActivity"
            android:label="@string/title_activity_app_list"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".lp_doctor.ui.GlobalSettingsActivity"
            android:label="@string/fore_title"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>

        <uses-library android:name="com.google.android.maps" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>